################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/src/bin
/src/obj
/test/bin
/test/obj
