<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConsoleTables" version="2.2.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="NLog" version="4.5.10" targetFramework="net461" />
  <package id="NLog.Config" version="4.5.10" targetFramework="net461" />
  <package id="NLog.Schema" version="4.5.10" targetFramework="net461" />
  <package id="NWrath.Synergy" version="1.0.2" targetFramework="net461" />
  <package id="Serilog" version="2.7.1" targetFramework="net461" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net461" />
  <package id="Serilog.Sinks.MSSqlServer" version="5.1.2" targetFramework="net461" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.1.1" targetFramework="net461" />
</packages>